* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* COMMON */
body {
    background-color: #1D2D3C;
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1000px;
    margin: auto;
}

/* HEADER */
header {
    padding: 20px 0;
}

.logo img {
    width: 50px;
}

/* MAIN */

.filtro-album {
    display: flex;
    justify-content: center;
    color: white;
}



.cds-container {
    display: flex;
    flex-wrap: wrap;
}

.cd {
    width: calc(100% / 4);
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 40px;
    margin: 20px;
}

.cd .title,
.cd .author,
.cd .year {
    margin-top: 10px;
    font-size: 20px;
}